<header class="mb">
  <h1 class="h2 m-0"><a href="{{site.url}}">{{site.title}}</a></h1>
  <ul class="navicons">
    <li>
      <a href="https://github.com/{{ site.author.github }}" rel="nofollow" title="Github">
        <i class="icon-github-sign icon-large left"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" rel="nofollow" title="LinkedIn">
        <i class="icon-linkedin-sign icon-large left"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/{{ site.author.twitter }}" rel="nofollow" title="Twitter">
        <i class="icon-twitter-sign icon-large left"></i>
      </a>
    </li>
    <li>
      <a href="/atom.xml" title="Atom Feed">
        <i class="icon-rss icon-large left"></i>
      </a>
    </li>
  </ul>
  <br/>
</header>
